/* ***************** utilities & containers ***************** */

/* ***************** global typography ***************** */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    width: 108rem;
}
/* ***************** header & footer ***************** */
header , footer {
      background-color: #0C4A6E;
      padding: 1.625rem 6.25rem;
       color:  #FAFAFA;
}
.team .flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3.25rem 2rem;
} 
.team section {
    background-color: #00000033;
    padding: 2rem 1.75rem;
    display: flex;
    gap: 3.5rem;
    align-items: center;
    box-sizing: border-box;
    width: calc((100% / 2) - (2rem / 2));
}
img {
    width: 12.5rem;
    height: 12.5rem;
    aspect-ratio: 1/1;
}

/* ***************** main content ***************** */
main {
    padding: 0 6.25rem;
}
h1{
    font-size: 1.625rem;
   
}
h2 {
    font-size: 3.75rem;
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.125rem;
}
.plans .flex-container{
    display: flex;
    gap: 2rem;
}
.plan {
    background-color: #00000033;
    width: calc((100% / 3) - (4rem / 3));
    padding: 1.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.plan section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style: initial;
}
.plan p {
    color: #0C4A6E;
    font-size: 1.5rem;
    font-weight: bold;
}
.team,
.plans {
    margin-bottom: 6rem;
}
/* Reset & base styles */

